<body background="http://www.hotdogyoga.co.za/wp-content/uploads/2015/06/hotdogbackground.jpg">
</body>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
